*.log

# Keep old prototypes (contain secrets) out of git
*old*.html
inde_old_v1.1x.html
index_old_v1.html

# Cloudflare Worker local secrets/config
.dev.vars
.wrangler/


.dev.vars*
!.dev.vars.example
.env*
!.env.example
